* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    background-color: #0f1111;
    color: white;

    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
}

.nav-logo {
    
    height: 50px;
    width: 113px;
}

.logo {
    height: 100%;
    width: 100%;
    background-image: url("https://w7.pngwing.com/pngs/1012/770/png-transparent-amazon-logo-amazon-com-amazon-video-logo-company-brand-amazon-logo-miscellaneous-wish-text-thumbnail.png");
    background-size: contain;
}


.border {
    border: 3px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* Box 2 */

.address-first {
    
    color: #cccccc;
    font-size: 1rem;
    margin-left: 15px;
}

.address-second {
    
    font-size: 1rem;
    margin-left: 3px;
}

.ad-icon {
    display: flex;
    align-items: center;
}

/* Box 3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 640px;
    border-radius: 10px;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    
}
.select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.nav-search:hover {
    border: 2px solid orange;
}

/*Box 4*/
.nav-signin span,
.nav-return span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/*Box 6*/

.nav-cart i {
    font-size: 30px;
    
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel*/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.panel-option p {
    display: inline;
    margin-left: 30px;
}

.panel-option {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.panel-all:hover {
    border: 3px solid white;
}

p:hover {
   border: 3px solid white;
}

/*hero-section*/

.hero-section {
    background-image: url("https://m.media-amazon.com/images/G/01/DiscoTec/2025/Deals/WinterSale/LP_Banners/26Deals_WinterSale_13700_LP_Header_ShopAll.jpg");
    background-size: cover;
    height: 180px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: #f3f3f3;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-top: 100px;
}

.hero-message a {
    color: #007185;
}


/*Shop-Section*/

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
   .box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
   }

   .box-content {
    margin-left: 10px;
    margin-right: 10px;
   }

   .box-content a {
    color: #007185;
   }

   /*Footer*/

   footer {
    margin-top: 15px;
   }

   .foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
   }

   .foot-panel2 {
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
     
   }

   ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
   }
   p {
    margin-top: 20px;
   }

   .foot-panel3 {
    background-color: #DDDDDD;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   }

   .logo {
    height: 40px;
    width: 150px;
    background-image: url("https://w7.pngwing.com/pngs/1012/770/png-transparent-amazon-logo-amazon-com-amazon-video-logo-company-brand-amazon-logo-miscellaneous-wish-text-thumbnail.png");
    background-size: cover;
}

.foot-panel4 {
    background-color: #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
     padding-top: 25px;
}

.copyright {
    padding-top: 5px;
}

